html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

header{
    width: 100%;
    height: 700px;
    margin: 0;
    background: url(https://as2.ftcdn.net/v2/jpg/03/32/09/85/1000_F_332098528_4Jrh3uV6eHQlDiwLR2H4eY9BDgh2nEIi.jpg);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 85px;
    margin: 0;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.63);
    box-shadow: 1px 2px 4px rgba(0,0,0,1);
    list-style-type: none;
}

ul{
    display: flex;
    align-items: center;
}
li {
    float: right;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS','sans-serif';
    text-transform: uppercase;
    list-style: none;
}
#logo-navbar{
    width: 70px;
    height: auto;
}
li a {
    display: block;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(255, 255, 255);
}
.triptik {
    display: flex;
    flex-direction: column;

    
}
.img-triptik {
  width: 100px ;
  height: auto;
}
.col-sm-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica;
    box-shadow:  1px 2px 4px rgba(0, 0, 0, 0.527);
    width: 25%;
    padding: 15px;
    background: linear-gradient(#ffffff,#e2e2e2);
    border-radius: 4px;
    
}
.row_container{
    display: flex;
    justify-content: center;
   
}
.row{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    width: 70%;
}
#intro {
    text-align: center;
 
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.video {
  width: 350px;
 text-align: center;
  top: 300px;
  margin-left: auto;
  margin-right: auto;
}
/* .ampoule {
  position: absolute;
 margin-left: auto;
 margin-top: auto;
} */
#intro,h2{
    font-family: Helvetica;
}
#intro{
    font-family: Helvetica;
}
#footer{
    height: 100px;
    background-color:#0745A7;
    background-size: 100%;
    
    
}
.imgfooter{
    display: flex;
    justify-content: space-around;

}
.omi,section{
    display: flex;
    align-items: center;
    flex-direction: column;
   
   
    
}
form{
    display: flex;
    justify-content: center;

}
button{
    align-items: center;
}
.info {
    text-align: center;
}
.site{
    text-align: center;
}
.envoyer{
    text-align: center;
}
.autres{
    text-align: center;
}
.presentation{
    text-align: center;
}



